*{
    box-sizing: border-box;
    margin:0;
}
.playground{
    background-color: rgb(103, 95, 103);
    width: 1750px;
    height: 850px;
}
.url{
    margin: 20px;
    width: 500px;
}
.methods{
    margin-left: 20px;
    width: 200px;
}
.body{
    background-color: #272935;
    width: 400px;
    height: 500px;
    margin: 20px;
}